<ul class="nav nav-tabs m-5 d-flex justify-content-center" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Cronómetro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Temporizador</a>
    </li>
  </ul>
  <div class="tab-content d-flex justify-content-center" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

        <div class="card text-center" style="width: 18rem;">
            <i class="far fa-clock fa-5x mt-3"></i>
            <h5 class="card-title mt-3">Cronómetro</h5>
            <input type="text" class="form-control mt-3">
            <div class="card-body">
              <a href="#" class="btn btn-primary m-1"><i class="fas fa-play"></i></a>
              <a href="#" class="btn btn-primary m-1"><i class="fas fa-pause"></i></a>
              <a href="#" class="btn btn-primary m-1"><i class="fas fa-stop"></i></a>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="card text-center" style="width: 18rem;">
            <i class="far fa-history fa-5x mt-3"></i>
            <h5 class="card-title mt-3">Temporizador</h5>
            <input type="text" class="form-control mt-3">
            <div class="card-body">
              <a href="#" class="btn btn-primary m-1"><i class="fas fa-play"></i></a>
              <a href="#" class="btn btn-primary m-1"><i class="fas fa-pause"></i></a>
              <a href="#" class="btn btn-primary m-1"><i class="fas fa-stop"></i></a>
            </div>
        </div>
    </div>
  </div>