<div class="row">
    <div class="col">
        <div class="container">
            <div class="row jumbotron">
                <div class="col text-center">
                    <h1>Pagina web personal</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-6 text-center">
                    <img src="assets/img/foto.jpg" class="img-thumbnail rounded-circle img-foto" alt="">
                </div>
                <div class="col-6">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi harum obcaecati blanditiis. Voluptate ea totam explicabo est perferendis sunt? Illum excepturi doloribus explicabo rem, quos ipsam veritatis minus voluptates qui.
                </div>
            </div>
        </div>
    </div>
</div>