<div class="row">
    <div class="col text-center mt-5">
        <h1>Lista de Cursos na Udemy</h1>
    </div>
</div>

<div class="row mt-5">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Curso</th>
                <th scope="col">N° Seções</th>
                <th scope="col">N° Capítulos</th>
                <th scope="col">Progreso</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let aula of aulas; let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{aula.titulo}}</td>
                <td>{{aula.secoes.length}}</td>
                <td>apitulos</td>
                <td>progreso..</td>
            </tr>
        </tbody>
    </table>
</div>