<div class="row">
    <div class="col text-center mt-5">
        <h1>Cadatrar Novos Cursos!</h1>
    </div>
</div>
<div class="row ">
    <div class="col mt-5 mr-5 ml-5">
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Titulo</label>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Titulo">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Lista</label>
                <div class="col">
                    <textarea class="form-control"></textarea>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary ">Cadastrar</button>
            </div>
        </form>
    </div>
</div>