<div class="row">
    <div class="col text-center mt-5">
        <h1>Cadatrar Novos Cursos!</h1>
    </div>
</div>

<div class="col mt-5 mr-5 ml-5">
    <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="guardar()">
        <div class=" form-group row ">
            <label class="col-sm-2 col-form-label ">Titulo do Curso</label>
            <div class="col-8 ">
                <input type="text " class="form-control " placeholder="Titulo" formControlName="titulo">
            </div>
        </div>

        <hr>

        <div *ngFor="let item of lista">
            <div class="form-group row ">
                <label class="col-sm-2 col-form-label ">Titulo da Seção </label>
                <div class="col-8 ">
                    <input type="text " class="form-control " placeholder="Seção" formControlName="secao">
                </div>
            </div>
            <div class=" form-group row ">
                <label class="col-sm-2 col-form-label ">Capitulos</label>
                <div class="col-8 ">
                    <textarea class="form-control" placeholder="..." formControlName="capitulo" style="height: 200px"></textarea>
                </div>
            </div>

        </div>

        <div class="row ">
            <div class="col-10 text-right ">
                <button type="submit " class="btn btn-primary ">Cadastrar</button>
            </div>
        </div>
    </form>
</div>